body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('assets/backgrounds/GIFbackground.gif');
    overflow: hidden;
}

#Canvas {
    border: 2px solid black;
    background-color: darkslategray;
}